@{
    ViewData["Title"] = "Sistema Login";
}

<div class="divLayout">
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <br />
        <h4>Olá @TempData["NomeUsuario"], seja bem-vindo ao Sistema Login!</h4>
    </div>
</div>
        
